{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Welcome To Taskmate!</title>
{% endblock title  %}

{% block contain %}
   <div class="container">
    <div class="row mt-5">
        <div class="col-lg-4">
            <img src="{% static 'images/splash.jpg' %}" alt="splash" class="rounded-lg shadow-sm" width="360" height="250" >
        </div>
        <div class="col-lg-4">
            <img src="{% static 'images/splash.jpg' %}" alt="splash" class="rounded-lg shadow-sm" width="360" height="250">
        </div>
        <div class="col-lg-4">
            <img src="{% static 'images/splash.jpg' %}" alt="splash" class="rounded-lg shadow-sm" width="360" height="250" >
        </div>
    </div>       
    <div class="row mt-5 col-md-10 offset-md-1">
        <center><p class="h1 text-primary">Quick and Easy to use, anytime, anywhere!</p></center>
        <center><p class="h2 mt-3">"Plan Your Day Better, Get Your Life Organized"</p></center>
        <center><p class="h5">TASKMATE Lets Your Keep Track Of Your Task In One Place.</p></center>

        <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-lg mt-3 shadow" >Let's Get Started</buttton></a></center>
    </div>

   
    </div> 
{% endblock contain %}